@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Poppins&display=swap');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -20vw;
  background-size: cover;
}

.background {
  position: fixed;
  top: -300px;
  left: calc(-100vh + 50vw);
  height: 200%;
  z-index: -100;
}

@media only screen and (min-width: 1600px) {
  .background {
    top: -532px
  }
}

.container {
  width: 78%;
  padding: 1rem;
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 70rem;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.heading {
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h1 {
  font-family: Calligraffitti, cursive;
  font-weight: 400;
  font-size: 4.5rem;
  display: inline-block;
  margin-bottom: 0;
}

.logo {
  display: none;
  width: 100%;
  height: auto;
}

small {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-left: 2.5rem;
}

@media only screen and (max-width: 1000px) {
  h1 {
    display: none;
  }

  small {
    display: none;
  }

  .logo {
    display: initial;
  }

  .background {
    display: none;
  }
}

.top-nav {
  font-size: 1.25rem;
}


nav > a {
  font-family: Poppins, sans-serif;
  color: black;
  text-decoration: none;
}

.top-nav > a {
  margin-left: 2rem;
}

@media only screen and (max-width: 1000px) {
  .top-nav {
    margin-top: 1rem;
    display: flex;
    max-width: 500px;
    justify-content: space-between;
  }

  .top-nav > a {
    margin-left: 0;
  }
}

.top-nav > a:hover {
  font-weight: bold;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 290px 1fr;
  column-gap: 1em;
}

@media only screen and (max-width: 1000px) {
  .intro {
    display: block;
  }
}

.intro-image-container {
}

.watercolorleaf-container {
  position: relative;
}

.watercolorleaf-image {
  position: absolute;
  width: 100%;
  height: auto;
  top: 1px;
  left: 1px;
  z-index: -10;
}

@media only screen and (max-width: 1000px) {
  .watercolorleaf-image {
    display: none;
  }
}

.intro-gardenhand {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.intro-text {
  font-family: Poppins, sans-serif;
  font-size: 1.25em;
  line-height: 1.75em;
  align-self: end;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.intro-text > p {
  width: 10em;
}

@media only screen and (max-width: 1000px) {
  .intro-text > p {
    width: initial;
  }
}

.value-prop {
  font-size: 2rem;
  font-family: Calligraffitti, cursive;
  line-height: 3rem;
}

.footer {
  font-family: Poppins, sans-serif;
  display: flex;
  align-items: end;
  height: 200px;
  padding: 2rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.social-icons {
  margin-left: 2rem;
}

.copyright {
  margin-left: auto;
}

@media only screen and (max-width: 1000px) {
  .footer {
    width: 288px;
    padding: 125px 0 0 0;
    background-image: url("../img/Watercolor Theme 2 (1).png");
    background-position: center;
    background-size: cover;
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-icons {
    margin-left: 0;
    height: 55px;
  }

  .copyright {
    margin-left: 0;
  }
}

@media (max-width: 1250px) {
  .intro-image-container {
    display: none;
  }
}
